<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for pokemon in pokemons %}
        <h2> -- Nom du pokémon :</h2>
        <p> - {{ pokemon.title }}</p>
        <h2> -- ID du pokemon :</h2>
        <p> - {{ pokemon.id }}</p>
        <h2> -- Element du pokemon :</h2>
        <p> - {{ pokemon.content }}</p>
        <hr>
    {% endfor %}

</body>
</html>