{% extends'partial/base.html.twig' %}

{% block metatitle %}
    Pokémons : Page d'accueil
{% endblock %}

{% block body %}
    <p id="pageHome">Veuillez entrez votre age : </p>

        <form method="GET">
            <label> Votre age :
                <input type="text" name="age">
            </label>
            <input type="submit" value="Validez">
        </form>

{% endblock %}