{% extends'partial/base.html.twig' %}

{% block metatitle %}
    Pokémons : Choix du Pokémons
{% endblock %}

{% block body %}
    <section class="flex">
        {# {% for pokemon in pokemons %} #}
                <div class="w30">
                    <h2 class="white"> -- Nom du pokémon --</h2>
                    <p class="fontSize">{{ pokemon.title }}</p>
                    <h2 class="bronw"> -- ID du pokemon --</h2>
                    <p class="fontSize">{{ pokemon.id }}</p>
                    <h2 class="bronw"> -- Element du pokemon --</h2>
                    <p class="fontSize">{{ pokemon.content }}</p>
                    <img src="{{ asset('img/1517278976783.jpg') }}">
                </div>
        {# {% endfor %} #}
    </section>
{% endblock %}
