{% extends'partial/base.html.twig' %}

{% block metatitle %}
    Pokémons : Choix du Pokémons
{% endblock %}

{% block body %}
    <section class="flex">
        <div class="w30">
            <h2 class="white"> -- Nom du pokémon --</h2>
            <p class="fontSize">{{ pokemon.title }}</p>
            <h2 class="bronw"> -- ID du pokemon --</h2>
            <p class="fontSize">{{ pokemon.id }}</p>
            <h2 class="bronw"> -- Element du pokemon --</h2>
            <p class="fontSize">{{ pokemon.content }}</p>
            <div id="imgArticle"><img src="{{ asset(pokemon.im) }}"></div>
        </div>
    </section>
{% endblock %}
