*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    display: flex;
    background-color: bisque;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    margin-bottom: 50px;
}

nav{
    width: 100%;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}

.white{
    color: white;
}

.fontSize{
    font-size: 20px;
}

h2{
    text-align: center;
}

.fontSize{
    text-align: center;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

#pageHome{
    text-align: center;
}

.bronw{
    color: saddlebrown;
}

.w30{
    width: 30%;
    background-color: bisque;
    border: solid 2px saddlebrown;
}

footer{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: bisque;
    height: 15vh;
    align-items: center;
}

img{
    width: 100%;
}

#imgArticle{
    width: 30%;
    margin: auto;
}