<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <title>{% block metatitle %}{% endblock %}</title>
</head>
<body>

        <header>

            <nav>
                <ul>
                    <li><a href="{{ path("home") }}">Home</a></li>
                    <li><a href="{{ path("list_article") }}">Liste Articles</a></li>
                    <li><a href="{{ path("list_categories") }}">Categories Pokemon</a></li>
                    <li><a href=>ça arrive fort mgl</a></li>

                </ul>
            </nav>

        </header>

        <main>

        {% block body %}

        {% endblock %}

        </main>
        <footer>

            <p>© Copyright</p>

        </footer>
    </body>
</html>
